@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

header[role="main"] {
  background-color: #fdd;
}

/* Main pane */

section[role="main"] {
  display: flex;
  flex-direction: row;
}

nav[role="main"] {
  padding: 2rem;

  background-color: #ddf;
}

main {
  padding: 2rem 3rem;
}
