<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/code.css" inline>
    <link rel="stylesheet" href="/styles/styles.css" inline>
    {# <link rel="preload" href="/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin> #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <header role="main">
      <div class="title">
        <a href="/" >Miniplex</a>
      </div>
    </header>

    <div class="main-navigation">
      <nav role="main">
        <ul>
          <li>
            <a href="/">Introduction</a>
          </li>
        </ul>
      </nav>
    </div>

    <main>
      {{ content | safe }}
    </main>

    <div class="toc-navigation">
      toc nav
    </div>
  </body>
</html>
